 body {
        background-color: #5D101D; 
        font-family: 'Jetbrains Mono', monospace; 
        color: #040a5d; 
        font-size: 20px;
}
main {
       max-width: 650px;
       margin: 30px auto;
       padding: 80px;
       background-color: #F9F9F9;
       border-radius: 8px;
       text-align: center;
       box-shadow: 0 4px 8px #000000;
}
h1 { 
       font-size: 55px;
       color: #1A237E; 
       font-family: 'Jetbrains Mono', monospace;
}

h2 {
       color: #640f0c;
}
   
img {
       border: 8px solid #c8d4e5;
       border-radius: 4px;
       width: 350px;
       height: 415px;
       object-fit: cover;
}

ul {
       list-style: none;
       padding: 0;
}

li::before {
       content: "✨  ";    

}